/* -------------------- GENERAL -------------------- */
/*General style*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

/*Text style*/
h1{
  font-size: 48px;
  font-weight: bold;
  color: rgb(6,0,71);
}
h2{
  font-size: 36px;
  font-weight: bold;
  color: rgb(6,0,71);
}
p{
  font-size: 24px;
  line-height: 150%;
  color: rgb(6,0,71);
  overflow:hidden;
}
.paragraph-footer
{
  font-size: 18px;
  padding-left: 16px;
}

/*Section title style*/
.section-title {
  padding-top: 96px;
  padding-left: 128px;
  padding-right: 128px;
}
.underline {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(6,0,71);
}

/* Footer Style*/
.footer-block {
  display: flex;
  padding: 32px;
  width: 100%;
  background-image: linear-gradient(rgb(181, 234, 234),rgb(186, 215, 233));
}
.footer-left {
  float: left;
  width: 60%;
}
.footer-right {
  float: right;
  width: 40%;
}
/*Project Style*/
.project {
  display: flex;
}
.citm-logo {
  width:83px;
  height:83px;
}
/*Credits Style*/
.credits {
  padding-top: 32px;
  display: flex;
}
.iconoir-linkedin {
  font-size: 64px;
  color: rgb(6,0,71);
}
.button-footer {
  border: none;
  text-decoration: none;
  background-color: transparent;
}
.button-footer:hover {
  .iconoir-linkedin {
    color: rgb(43,52,103);
  }
}
.button-footer:active {
  .iconoir-linkedin {
    color: rgb(252,255,231);
  }
}
/*Licenses Style*/
.licenses {
  text-align: right;
}

/* -------------------- MAIN PAGE -------------------- */
/*Top bar style*/
.topbar{
  position:fixed;
  width: 100%;
  padding-left: 36px;
  background-image: linear-gradient(rgb(6,0,71),rgb(43,52,103));
  overflow: auto;
  z-index: 1;
}
.top-header
{
  height: 100%;
  float: left;
  padding: 10px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: rgb(252,255,231);
}
.navbar{
  float: right;
}
.nav-button
{
  height: 100%;
  float: left;
  padding: 16px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(252,255,231);
}
.nav-button:hover {
  background-color: #000;
}
.nav-button-active
{
  height: 100%;
  float: left;
  padding: 16px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(6,0,71);
  background-image: linear-gradient(rgb(181, 234, 234),rgb(186, 215, 233));
}
@media screen and (max-width: 1250px) {
  .nav-button {
    float:none;
    display: block;
    padding: 10px;
  }
  .nav-button-active {
    float:none;
    display: block;
    padding: 10px;
  }
  .top-header {
    float: none;
    display: block;
  }
  .navbar {
    float: none;
    display: block;
  }
  .topbar {
    float: none;
    display: block;
    padding-left: 16px;
  }
}

/*Introduction style*/
.introduction {
  padding-top: 96px;
  padding-left: 128px;
  padding-right: 128px;
  text-align: center;
}
.home-paragraph {
  padding-top: 24px;
}

/*Sections style*/
.sections {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 64px;
}
.sections-l1{
  display: flex;
  justify-content: center;
}
.sections-l2{
  display: flex;
  justify-content: center;
}
.button-main {
  margin: 24px;
  padding: 48px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 52px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(rgb(233, 0, 100),rgb(235, 69, 95));
  transition: padding-top 0.2s, padding-bottom 0.2s;
}
.button-main:hover {
  padding-top: 36px;
  padding-bottom: 60px;
  transition: padding-top 0.2s, padding-bottom 0.2s;
}
.button-main:active {
  padding-top: 36px;
  padding-bottom: 60px;
  background-image: linear-gradient(rgb(179, 0, 94),rgb(233, 0, 100));
}

/*Goals-seemore style*/
.goals-seemore {
  display: flex;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
/*Goals style*/
.goals{
  padding-top: 8px;
  width: 60%;
  text-align: center;
}
/*Separator style*/
.separator{
  margin-left: 64px;
  margin-right: 64px;
  width: 6px;
  height: 225px;
  border-radius: 3px;
  background-color: rgb(186, 215, 233);
}
/*See more style*/
.seemore{
  float: right;
  padding-top: 8px;
  width: 30%;
  text-align: center;
}
.seemore-list{
  width: 100%;
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.button-link{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  color: rgb(233, 0, 100);
  text-decoration: none;
  background-color: white;
  transition: padding-top 0.2s, padding-bottom 0.2s;
}
.button-link:hover {
  padding-top: 0px;
  padding-bottom: 16px;
  transition: padding-top 0.2s, padding-bottom 0.2s;
}
.button-link:active {
  padding-top: 0px;
  padding-bottom: 16px;
  color: rgb(6,0,71);
}
.iconoir-page {
  font-size: 64px;
}
.iconoir-media-video-list {
  font-size: 64px;
}
.iconoir-github-circle {
  font-size: 64px;
}
.iconoir-figma {
  font-size: 64px;
}

/* -------------------- FIGURES -------------------- */
/*Figures list Style*/
.list-figures {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 128px;
  padding-right: 64px;
}
/*Figures nodes Style*/
.list-figures-node {
  display: flex;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 74px;
  margin-bottom: 32px;
  height: 275px;
  border-radius: 24px;
  text-decoration: none;
  background-color: white;
  transition: padding-left 0.2s, padding-right 0.2s;
}
.list-figures-node:hover {
  padding-left: 74px;
  padding-right: 12px;
  transition: padding-left 0.2s, padding-right 0.2s;
}
.list-figures-node:active {
  padding-left: 74px;
  padding-right: 12px;
  background-color: rgb(186, 215, 233);
}
.list-figures-node-image {
  width: 374px;
  height: 251px;
  border-radius: 24px;
}
.list-figures-node-text {
  padding-left: 44px;
}
